@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box-shadow{
  -webkit-box-shadow:0px 0px 4px 2px rgba(61,164,227,0.96);
-moz-box-shadow: 0px 0px 4px 2px rgba(61,164,227,0.96);
box-shadow: 0px 0px 4px 2px rgba(61,164,227,0.96);
}
@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }



  [x-cloak] {
    display: none !important;
  }

  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }




  .grdb {
    background: linear-gradient(-45deg, #ffffff, #01b8ee, #2f51a1, #152f6c);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;

  }

  .grd {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

 

}

@layer components {
/* .active{
  @apply text-white bg-gradient-to-b from-blue-700 to-cyan-500 px-2 py-1 rounded-xl;
} */
/* .pagination a:hover:not(.active), .pagination a.active {
  @apply text-white bg-gradient-to-b from-blue-700 to-cyan-500;
} */
.pagination .previous:hover:not(.active), .pagination .previous.active,
.pagination .next:hover:not(.active), .pagination .next.active {
  @apply text-black bg-white bg-none;
}
  .bg-gradient-blue{
    @apply rounded-xl text-white bg-gradient-to-b from-blue-700 to-cyan-500 hover:bg-gradient-to-b hover:from-cyan-500 hover:to-blue-700 cursor-pointer;
  }
.save-btn{
  @apply rounded-xl sm:px-6 px-4 py-2  font-bold text-white bg-gradient-to-b from-blue-700 to-cyan-500 hover:bg-gradient-to-b hover:from-cyan-500 hover:to-blue-700;
}
.nav-link{
  @apply text-black px-2 py-1 hover:text-white hover:bg-gradient-to-b hover:from-blue-700 hover:to-cyan-500 hover:rounded-xl ;
}
.circles-loader{
  @apply font-bold text-white bg-gradient-to-b from-blue-700 to-cyan-500;
}
.registration-panel input {
  @apply block w-full mx-auto;
  
}
.popular-btn{
  @apply px-3 flex text-nowrap text-xs justify-center  py-1 rounded-full text-blue-800 bg-transparent hover:text-white hover:bg-gradient-to-b hover:from-blue-700 hover:to-cyan-500  border border-cyan-500;
}
.panel-btn{
  @apply  border border-cyan-600 sm:p-4 p-2 hover:text-white text-blue-800 hover:bg-gradient-to-b hover:from-cyan-500 hover:to-blue-700 active:bg-gradient-to-b active:from-cyan-500 active:to-blue-700 active:text-white;
}
.menuItems a {@apply  block w-full items-center capitalize py-1 hover:translate-y-0.5 duration-300 border-b border-b-slate-400 border-dotted}
.ct-btn{
 @apply cursor-pointer border border-blue-500 px-4 py-1  text-blue-800 bg-transparent hover:text-white hover:bg-gradient-to-b hover:from-blue-700 hover:to-cyan-500 ; 
}
 /* .hover-btn{
  @apply bg-transparent  hover:text-white hover:bg-gradient-to-b hover:from-blue-700 hover:to-cyan-500    border-1 border-cyan-500 ;
 } */


}